@page
@using FishAquariumWebApp.Enums
@model FishAquariumWebApp.Pages.Portions.CreateModel


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Portion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Preparation Date</label>
                <input asp-for="Portion.PreparationDate" class="form-control" />
                <span asp-validation-for="Portion.PreparationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Food</label>
                <!--<select>asp-for="Portion.FkFood" asp-items="Html.GetEnumSelectList" </select>-->
                <!--<option selected="selected" value=""> @*@Html.DisplayFor(modelItem => Models.item.Name)*@</option>-->
                <select asp-for="Portion.FkFood" asp-items="Model.Foods"></select>
                <!--<input asp-for="Portion.FkFood" class="form-control" />-->
                <span asp-validation-for="Portion.FkFood" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Supplement </label>
                <!--   <label asp-for="Portion.FkSupplement" class="control-label"></label> -->
                <select asp-for="Portion.FkSupplement" asp-items="Model.Supplements"></select>
                <!-- <input asp-for="Portion.FkSupplement" class="form-control" />-->
                <span asp-validation-for="Portion.FkSupplement" class="text-danger"></span>
            </div>
            

                                                  
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

         