@page
@model FishAquariumWebApp.Pages.Decorations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Decoration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Decoration.Manufacturer" class="control-label"></label>
                <input asp-for="Decoration.Manufacturer" class="form-control" />
                <span asp-validation-for="Decoration.Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decoration.Name" class="control-label"></label>
                <input asp-for="Decoration.Name" class="form-control" />
                <span asp-validation-for="Decoration.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decoration.Color" class="control-label"></label>
                <input asp-for="Decoration.Color" class="form-control" />
                <span asp-validation-for="Decoration.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decoration.Mass" class="control-label"></label>
                <input asp-for="Decoration.Mass" class="form-control" />
                <span asp-validation-for="Decoration.Mass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decoration.Description" class="control-label"></label>
                <input asp-for="Decoration.Description" class="form-control" />
                <span asp-validation-for="Decoration.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decoration.Material" class="control-label"></label>
                <input asp-for="Decoration.Material" class="form-control" />
                <span asp-validation-for="Decoration.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decoration.Type" class="control-label"></label>
                <input asp-for="Decoration.Type" class="form-control" />
                <span asp-validation-for="Decoration.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decoration.Id" class="control-label"></label>
                <input asp-for="Decoration.Id" class="form-control" />
                <span asp-validation-for="Decoration.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
