body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

td select {
    max-width: unset !important;
}
legend {
    background-color: lightblue;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 6px;
}

.action{
    width: 90px;
}

.btn{
    font-weight:bold;
}

.btn-success{
    width: 150px;
}

#prd{
    margin-top: 5px;
}

#paslaugos_tbl th{
    width: 80px;
}
