@page
@model FishAquariumWebApp.Pages.AquariumUsers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AquariumUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AquariumUser.FirstName" class="control-label"></label>
                <input asp-for="AquariumUser.FirstName" class="form-control" />
                <span asp-validation-for="AquariumUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AquariumUser.LastName" class="control-label"></label>
                <input asp-for="AquariumUser.LastName" class="form-control" />
                <span asp-validation-for="AquariumUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AquariumUser.BirthDate" class="control-label"></label>
                <input asp-for="AquariumUser.BirthDate" class="form-control" type="date" value="2018-07-22">
                <span asp-validation-for="AquariumUser.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AquariumUser.RegistrationDate" class="control-label"></label>
                <input asp-for="AquariumUser.RegistrationDate" class="form-control" type="date" value=@Html.DisplayFor(AquariumUser => AquariumUser.AquariumUser.RegistrationDate) />

                @Html.TextBoxFor(AquariumUser => AquariumUser.AquariumUser.RegistrationDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", placeholder = "DD/MM/YYYY", maxlength = "100" })

                <span asp-validation-for="AquariumUser.RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AquariumUser.Email" class="control-label"></label>
                <input asp-for="AquariumUser.Email" class="form-control" />
                <span asp-validation-for="AquariumUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AquariumUser.Code" class="control-label"></label>
                <input asp-for="AquariumUser.Code" class="form-control" />
                <span asp-validation-for="AquariumUser.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AquariumUser.Type" class="control-label"></label>
                <select asp-for="AquariumUser.Type" asp-items="Html.GetEnumSelectList<Models.UserTypes>()">
                    <option selected="selected" value="AquariumUser.Type"> </option>
                </select>                <span asp-validation-for="AquariumUser.Type" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="AquariumUser.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}