@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form method="post" asp-page="login">
        @Model.Msg
        <br />
        E-mail <input type="text" name="mail" />
        <br />
        Password <input type="password" name="password" />
        <br />
        <input type="submit" value="Login" />
    </form>

</body>
</html>